Exercise 2 - Create a markdown cell with the title of the notebook.

## DATA SCIENCE AND TOOLS

Exercise 3 - Create a markdown cell for an introduction.

In this notebook, Data Science Tools and Ecosystem are summarized

Exercise 10 - Insert a markdown cell to list Objectives

OBJECTIVE :
* Popular language
* Popular libraries
* Popular tools

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are: 
    1 - Python
    2 - R
    3 - Julia

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
    1 - TensorFlow
    2 - Matplotlib
    3 - Pandas
    4 - Keras
    5 - PyTorch

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|:---:               |
| RStudio            |
| Apache Spark       |
| TensorFlow         |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python###
* , // , % , + , - , /

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
This a simple arithmetic expression to mutiply then add integers.

In [ ]:
(3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [12]:
min = int(200)
print(int(min/60))

3

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author##
Tishya Moulick